/* ==========================================================================
    Utilities / Helpers
========================================================================== */

/* Utilities
========================================================================== */

.u-sr-only {
	position: absolute;
	top: -9999px;
	left: -9999px;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-large-text {
    --paragraph-size: 30px;

    @extend .u-uppercase;
    line-height: 1.25;

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>LG') {
        --paragraph-size: 40px;
    }
}

.u-larger-text {
    --paragraph-size: 32px;

    line-height: 1.11;

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        --paragraph-size: 44px;
    }
}

/* Layout
========================================================================== */

.u-overflow--hidden {
    overflow: hidden;
}

/* Images
========================================================================== */

.o-lazy {
	height: auto;
	opacity: 0;
	transition: opacity 0.3s $decel-curve;
	width: 100%;

	&.is-loaded {
		opacity: 1;
	}
}