# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Local env files
.env
.env.*
!.env.example

# Dependencies
/node_modules
/.pnp
.pnp.js

# Package manager
package-lock.json
yarn.lock

# Misc
*.pem
prepros.config

# Sitemap & robots
sitemap*.xml
robots.txt

# Mac OS X
.DS_Store
.DS_Store?
._.*
._*

# Windows
Thumbs.db

# Ignore local editor
.project
.settings
.idea
*.swp
tags
nbproject/*

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts