/* ==========================================================================
    Tools / Mixins / Button
========================================================================== */

/* Button
========================================================================== */

@mixin make-button() {
    --btn-color: var(--white);
    --btn-padding-tb: 8px;
    --btn-padding-lr: 20px;
	--btn-hover-color: var(--white);

	display: inline-block;
	color: var(--btn-color);
    font-size: var(--paragraph-size);
	font-weight: var(--font-medium);
	padding: var(--btn-padding-tb) var(--btn-padding-lr);
	transition: all .35s $ease-in;

	&:hover, &:focus {
		color: var(--btn-hover-color);
	}
}