/* ==========================================================================
    Settings / Config / Colors
========================================================================== */

/* Colors
========================================================================== */

$theme-colors: (
) !default;

/* Monochrome
========================================================================== */

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e1dfdd !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$theme-monochromes: (
	'white': $white,
	'black': $black,
	'gray-100': $gray-100,
	'gray-200': $gray-200,
	'gray-300': $gray-300,
	'gray-400': $gray-400,
	'gray-500': $gray-500,
	'gray-600': $gray-600,
	'gray-700': $gray-700,
	'gray-800': $gray-800,
	'gray-900': $gray-900,
) !default;

/* Alert
========================================================================== */

$success: #48C774 !default;
$info: #3298DC !default;
$warning: #FFDD57 !default;
$error: #F14668 !default;