/* ==========================================================================
    Objects / Container
========================================================================== */

:root {
    --container-padding: #{$container-padding-initial};
	--container-padding-initial: #{$container-padding-initial};
	--container-padding-increment: #{$container-padding-increment};

	$i: 1;
	@each $breakpoint, $value in $breakpoints {
		@if $value > 990 and $value < 1449 {
			@include mediaq('>#{$breakpoint}') {
                --container-padding: calc( var(--container-padding-initial) + (var(--container-padding-increment) * #{$i}) );
			}
			$i: $i + 1;
		}
	}
}

/* Container
========================================================================== */

.o-container {
	@include make-container();
    padding-right:  var(--container-padding);
    padding-left:  var(--container-padding);
}