/* ==========================================================================
    Base / Document
========================================================================== */

:root {
	/* Colors */
	@each $name, $value in $theme-colors {
		--#{$name}: #{$value};
	}
	@each $name, $value in $theme-monochromes {
		--#{$name}: #{$value};
	}

    /* Theme */
	--body-text-color: var(--black);
	--body-heading-color: var(--black);
	--body-subfield-color: var(--gray-700);
	--body-link-color: var(--body-text-color);
    --body-bg-color: var(--gray-200);
    --background-color: var(--black);
    --selection-color: var(--gray-200);
    --navigation-mobile-item-color: var(--gray-200);
    --navigation-item-color: var(--gray-200);
    --form-element-color: var(--gray-500);
    --form-border-color: var(--black);
    --form-alert-color: var(--gray-200);

	/* Font Families - css variables are defined in _app */

	/* Font Weight */
	--font-regular: 400;
	--font-medium: 500;

	/* Typography */
	--font-base: #{$font-base};
	--font-line-height: 1.32;
    --paragraph-size: var(--font-base);

    /* Heading */
	--h1: 32px;
	--h2: 28px;
	--h3: 25px;
	--h4: 20px;
	--h5: 18px;
	--h6: 16px;
	--font-heading: var(--font-primary);
	--font-heading-weight: var(--font-medium);
	--font-heading-line-height: 0.875;

	/* Alert */
	--success: #{$success};
	--info: #{$info};
	--warning: #{$warning};
	--error: #{$error};

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>360px') {
	    --h1: 40px;
    }

    @include mediaq('>SM') {
        --h1: 56px;
        --h2: 45px;
    	--h3: 30px;
    }

    @include mediaq('>MD') {
        --h1: 75px;
        --h2: 56px;
    	--h3: 35px;
    }

    @include mediaq('>LG') {
        --h1: 82px;
        --h4: 22px;
        --h5: 20px;
        --h6: 18px;
        --font-base: 22px;
    }

    @include mediaq('>XLG') {
        --h1: 102px;
    }

    @include mediaq('>XXLG') {
        --h1: 112px;
    }

    @include mediaq('>1850px') {
        --h1: 144px;
    }
}

/* Theme
========================================================================== */

[data-theme='dark'] {
    --body-text-color: var(--gray-200);
	--body-heading-color: var(--gray-200);
	--body-subfield-color: var(--gray-500);
	--body-link-color: var(--body-text-color);
    --body-bg-color: var(--black);
    --background-color: var(--gray-200);
    --selection-color: var(--black);
    --navigation-mobile-item-color: var(--black);
    --navigation-item-color: var(--gray-200);
    --form-element-color: var(--white);
    --form-border-color: var(--gray-200);
    --form-alert-color: var(--black);
}

/* Document
========================================================================== */

html {
	-moz-osx-font-smoothing: grayscale;
	-ms-overflow-style: scrollbar;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
	font-family: var(--font-primary);
	font-size: var(--font-base);
	line-height: var(--font-line-height);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

    /* States */
    &.is-transitioning {
        cursor: wait;
        pointer-events: none;
    }
}

body {
	background-color: var(--body-bg-color);
	color: var(--body-text-color);
	font-family: var(--font-primary);
	font-size: var(--font-base);
	line-height: var(--font-line-height);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

main {
    position: relative;
}

::-moz-selection {
	background-color: var(--background-color);
	color: var(--selection-color);
}

::selection {
    background-color: var(--background-color);
	color: var(--selection-color);
}

/* Heading
========================================================================== */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: var(--font-heading);
	font-weight: var(--font-heading-weight);
	line-height: var(--font-heading-line-height);
	color: var(--body-heading-color);

    span {
        display: inline-flex;
    }
}

h1, .h1 {
	font-size: var(--h1);
    @extend .u-uppercase;
}

h1 {
    margin-bottom: 0.25em;
}

h2, .h2 {
	font-size: var(--h2);
}

h3, .h3 {
	font-size: var(--h3);
}

h4, .h4 {
	font-size: var(--h4);
    line-height: 1.18;
}

h5, .h5 {
	font-size: var(--h5);
}

h6, .h6 {
	font-size: var(--h6);
}

/* Body Elements
========================================================================== */

p {
	color: var(--body-text-color);
	font-size: var(--paragraph-size);
    font-weight: var(--font-medium);
	margin-bottom: 1.2em;
}

a {
	color: var(--body-link-color);
	font-weight: var(--font-medium);
	text-decoration: none;
	transition: all .35s $primary-ease;

    @media (hover: hover) and (pointer: fine) {
        &:hover, &:active, &:focus {
            text-decoration: none;
        }
    }
}

ul, ol {
	&[class] {
		list-style: none;
		padding: 0;
	}

	&:not([class]) {
		padding-left: 24px;
	}

	li {
		color: var(--body-text-color);
		margin-bottom: 0.4em;
		padding-bottom: 0.4em;
	}
}

svg {
	width: 100%;
	height: auto;
	max-width: 100%;
}

img {
	height: auto;
	max-width: 100%;
	width: 100%;
}

picture {
	display: block;
	height: 100%;
}

table {
	font-weight: var(--font-medium);
	margin-bottom: 30px;
	width: 100%;

	th {
		@include font-size(11px);
		text-transform: uppercase;
	}

	td {
		@include font-size(13px);
	}

	th, td {
		border: var(--gray-400);
		padding: 10px;

		&:empty {
			background: var(--gray-400);
		}
	}
}

hr {
	background: var(--gray-400);
	border: none;
	height: 1px;
	margin: 30px 0;
}

/* Wysiwyg
========================================================================== */

.o-wysiwyg {
	> * {
		&:first-child {
			margin-top: 0!important;
		}
		&:last-child {
			margin-bottom: 0!important;
		}
	}

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin-top: 1.5em;
		margin-bottom: 0.5em;
	}

	a {
		text-decoration: underline;

        @media (hover: hover) and (pointer: fine) {
            &:hover, &:active, &:focus {
                text-decoration: none;
            }
        }
	}

	img, svg {
		width: auto;
	}

	ul, ol {
		list-style: none;
		padding: 0;

		&:not([class]) {
			li {
				padding-left: 28px;
				position: relative;

				&:before {
					left: 0;
					content: '';
					position: absolute;
				}
				&:last-child {
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}

	ul {
		&:not([class]) {
			li {
				&:before {
					background: var(--black);
					border-radius: 50%;
					height: 6px;
					top: 0.6em;
					transform: translateY(-50%);
					width: 6px;
				}
			}
		}
	}

	ol {
		counter-reset: section;

		&:not([class]) {
			li {
				&:before {
					color: var(--black);
					content: counter(section) '- ';
					counter-increment: section;
					font-weight: var(--font-medium);
				}
			}
		}
	}
}