/* ==========================================================================
    404
========================================================================== */

.c-404 {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: var(--spacing-responsive) 0;

    &__row {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
    }

    &__btn {
        margin-top: 35px;
    }
}