/* ==========================================================================
    Button
========================================================================== */

.c-btn {
    @include make-button();

    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        height: 2px;
        transform: scaleX(1);
        background: currentColor;
        pointer-events: none;
    }

    @media (hover: hover) and (pointer: fine) {
        &:before {
            transform-origin: right;
            transition: transform 0.75s $primary-ease;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: currentColor;
            pointer-events: none;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.75s $primary-ease 0.25s;
        }

        &:hover, &:active, &:focus {
            &:before {
                transform: scaleX(0);
            }

            &:after {
                transform: scaleX(1);
            }
        }
    }

    &--external {
        position: relative;
        display: inline-flex;
        align-items: center;

        svg {
            width: 20px;
            margin-left: 10px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            transform: scaleX(0);
            transform-origin: right;
            background: currentColor;
            pointer-events: none;
            transition: transform 0.6s $primary-ease;
        }

        @media (hover: hover) and (pointer: fine) {
            &:hover, &:active, &:focus {
                &:after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
}