/* ==========================================================================
    Form
========================================================================== */

.c-form {
    &__element {
        grid-column: 1 / -1;
    }

    &__btn {
        display: inline-flex;
        margin-top: 40px;
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>SM') {

        &__row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 var(--grid-gap-columns);
        }

        &__item {
            grid-column: auto;
        }

        &__itemFull {
            grid-column: 1 / -1;
        }
    }

    @include mediaq('>MD') {
        &__element {
            grid-column: 3 / 11;
        }
    }

    @include mediaq('>XXLG') {
        &__element {
            grid-column: 4 / 10;
        }
    }
}