.c-formElement {
    @include default-styles();

	/* Checkbox / Radio
    ========================================================================== */

	&--checkbox {
		@include input-checkbox-reset();
	}

	&--checkboxSvg {
		display: inline-block;

        &:first-child ~ & {
			margin-left: 0.8em;
		}

		input{
			display: none!important;
		}

		input:checked ~ label svg path {
			stroke-dashoffset: 0;
		}

		label {
			position: relative;
			display: flex;
			align-items: center;
			margin-bottom: 0;
			cursor: pointer;
            line-height: 1;
		}

		input ~ label svg {
			width: 1.1em;
			height: 1.1em;
			border: 1px solid var(--gray-700);
			margin-right: 10px;
		}

		input ~ label svg path {
			transition: stroke-dashoffset .3s $ease-in;
			fill: none;
			stroke: var(--gray-700);
			stroke-dasharray: 270;
			stroke-dashoffset: 270;
			stroke-width: 5px;
		}
	}
}