/* ==========================================================================
    Hobbies scene
========================================================================== */

.temporary {
    height: 87vw;
    max-height: 850px;

    canvas {
        touch-action: none;
    }
}