/* ==========================================================================
    Hobbies Tabs
========================================================================== */

.c-hobbiesTabs {
    --grid-gap-row: 0;
    // --title-margin-b: 70px;
    --header-margin-b: 70px;
    --header-margin-b: 0;
    // --header-margin-b: 70px;

    &__index {
        grid-column: 1 / 1;

        span {
            display: block;
        }
    }

    &__title {
        grid-column: 3 / -1;
        margin-bottom: var(--title-margin-b);
    }

    &__header {
        grid-column: 1 / -1;
        // margin: 0 0 var(--header-margin-b);
        margin: var(--header-margin-t) 0 var(--header-margin-b);

        &__control {
            display: flex;
            opacity: 0.17;
            transition: opacity .7s $primary-ease;

            &:not(:last-child) {
                margin-bottom: 5px;
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover, &:active, &:focus {
                    opacity: 0.24;
                }
            }

            /* States */
            &.is-active {
                opacity: 1;
            }
        }

        &__descriptions {
            display: none;
        }
    }

    &__scene {
        grid-column: 1 / -1;
    }

    &__descriptions {
        position: relative;
        grid-column: 1 / -1;

        &--element {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            opacity: 0;
            transition: opacity .7s $primary-ease;

            /* States */
            &.is-selected {
                position: relative;
                top: auto;
                left: auto;
                opacity: 1;
            }
        }
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        // --title-margin-b: 120px;
        --header-margin-t: 120px;
        --description-margin-t: 70px;

        &__title {
            grid-column: 4 / 7;
        }

        &__header {
            // grid-column: 4 / -1;
            grid-column: 1 / 7;

            &__descriptions {
                display: block;
                position: relative;
                max-width: 422px;
                margin-top: var(--description-margin-t);

                &--element {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    opacity: 0;
                    transition: opacity .7s $primary-ease;

                    /* States */
                    &.is-selected {
                        position: relative;
                        top: auto;
                        left: auto;
                        opacity: 1;
                    }
                }
            }
        }

        &__scene {
            grid-column: 7/-1;
        }

        &__descriptions {
            display: none;
            // grid-column: 4 / 9;
            // grid-column: 1 / 4;
        }
    }

    @include mediaq('>XXLG') {
        &__descriptions {
            // grid-column: 4 / 7;
        }
    }
}