/* ==========================================================================
    Home Featured Work
========================================================================== */

.c-homeFeaturedWork {
    &__index {
        grid-column: 1 / 1;

        span {
            display: block;
        }
    }

    &__title {
        grid-column: 3 / -1;
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        &__title {
            grid-column: 4 / 7;
        }
    }
}