/* ==========================================================================
    Home Featured Work
========================================================================== */

.c-homeFeaturedWork {
    --project-margin-t: 70px;

    &__index {
        grid-column: 1 / 1;

        span {
            display: block;
        }
    }

    &__title {
        grid-column: 3 / -1;
    }

    &__project {
        margin-top: var(--project-margin-t);
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        --project-margin-t: 120px;

        &__title {
            grid-column: 4 / 7;
        }
    }
}