/* ==========================================================================
    Home
========================================================================== */

.c-home {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --main-padding-tb: 6rem;
    --main-padding-lr: 1rem;
    --logo-padding-tb: 1rem;
    --logo-padding-lr: 1rem;
    --grid-max-width: 320px;
    --card-padding-tb: 1rem;
    --card-padding-lr: 2.5rem;
    --center-padding-t: 8rem;
    --center-padding-b: 6rem;
    --center-width: 200px;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: var(--main-padding-tb) var(--main-padding-lr);
        min-height: 100vh;
        overflow: hidden;
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.85rem;
        max-width: var(--max-width);
        width: 100%;
        font-family: var(--font-mono);

        p {
            margin: 0;
            padding: 1rem;
            font-size: 0.85rem;
            background-color: rgba(var(--callout-rgb), 0.5);
            border: 1px solid rgba(var(--callout-border-rgb), 0.3);
            border-radius: var(--border-radius);

            code {
                font-weight: var(--font-bold);
                font-family: var(--font-mono);
                color: var(--white);
            }
        }

        &--logo {
            max-width: 180px;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5rem;
                padding: var(--logo-padding-tb) var(--logo-padding-lr);
                color: var(--white);
            }

            svg {
                width: 100px;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr;
        max-width: var(--grid-max-width);
        text-align: center;

        &--card {
            padding: var(--card-padding-tb) var(--card-padding-lr);
            border-radius: var(--border-radius);
            background: rgba(var(--card-rgb), 0);
            border: 1px solid rgba(var(--card-border-rgb), 0);
            transition: background .2s, border .2s $ease-in;
            font-weight: inherit;

            span {
                display: inline-block;
                transition: transform .2s $ease-in;
            }

            h2 {
                font-weight: var(--font-semi-bold);
                margin-bottom: 0.7rem;
            }

            p {
                margin: 0;
                opacity: 0.6;
                font-size: 0.9rem;
                line-height: 1.5;
            }

            /* Enable hover only on non-touch devices */
            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    background: rgba(var(--card-rgb), 0.1);
                    border: 1px solid rgba(var(--card-border-rgb), 0.15);

                    span {
                        transform: translateX(4px);
                    }
                }
            }
        }
    }

    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: var(--center-padding-t) 0 var(--center-padding-b);
        width: var(--center-width);
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>SM') {
        --main-padding-lr: 6rem;
        --logo-padding-tb: 0;
        --grid-max-width: 100%;
        --card-padding-lr: 1.2rem;
        --center-padding-t: 4rem;
        --center-padding-b: 4rem;
        --center-width: 300px;

        &__description {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &__grid {
            grid-template-columns: repeat(2, 50%);
        }
    }

    @include mediaq('>LG') {
        &__grid {
            grid-template-columns: repeat(4, minmax(25%, auto));
            width: var(--max-width);
        }
    }
}