/* ==========================================================================
    Mobile Navigation
========================================================================== */

.c-mobileNav {
    --navigation-link-color: var(--white);
    --navigation-link-current-color: var(--white);
    --navigation-primary-padding: calc(var(--navigation-height) + 100px);
    --navigation-scroll-padding: 100px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    pointer-events: none;
    opacity: 0;
    transform: scaleY(0);
    z-index: 999;
    transition-delay: 1s;
    transform-origin: bottom;
    transition: all .35s $ease-in;

    &__scroll {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden auto;
    }

    &__container {
        padding: 0 var(--container-padding);
    }

    &__primary {
        position: relative;
        padding: var(--navigation-primary-padding) 0 0 0;
        opacity: 0;
        transition: opacity .2s $ease-in;

        &--list {

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                font-family: var(--font-primary);

                li {
                    position: relative;
                    padding: 15px var(--half-container);
                    margin: 0;

                    span {
                        display: inline-block;

                        a {
                            display: inline-block;
                            @include font-size(25px);
                            font-weight: var(--font-regular);
                            color: var(--navigation-link-color);
                            text-transform: uppercase;

                            &.is-current-page {
                                color: var(--navigation-link-current-color);
                            }
                        }
                    }

                }
            }
        }
    }

    &.is-open {
        pointer-events: all;
        opacity: 1;
        transform: scaleY(1);
    }

    &.is-open & {
        &__scroll {
            padding-bottom: var(--navigation-scroll-padding);
        }

        &__primary {
            opacity: 1;
            transition: opacity .35s $ease-in;
        }
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>LG') {
        display: none;
    }
}