/* ==========================================================================
    Mobile Navigation
========================================================================== */

.c-mobileNav {
    --navigation-link-color: var(--white);
    --navigation-primary-padding: calc(var(--navigation-height) + 100px);
    --navigation-scroll-padding: 100px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    pointer-events: none;
    opacity: 0;
    transform: scaleY(0);
    z-index: 999;
    transform-origin: bottom;
    transition: all .35s $ease-in;

    &__scroll {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden auto;
    }

    &__container {
        padding: 0 var(--container-padding);
    }

    &__primary {
        padding: var(--navigation-primary-padding) 0 0 0;
        opacity: 0;
        transition: opacity .2s $ease-in;

        &--list {

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    padding: 0;
                    margin: 0;

                    &:not(:last-child) {
                        margin-bottom: 15px;
                    }

                    span {
                        display: inline-block;

                        a {
                            display: inline-block;
                            color: var(--navigation-link-color);

                            &.is-current-page {
                            }
                        }
                    }

                }
            }
        }
    }

    &.is-open {
        pointer-events: all;
        opacity: 1;
        transform: scaleY(1);
    }

    &.is-open & {
        &__scroll {
            padding-bottom: var(--navigation-scroll-padding);
        }

        &__primary {
            opacity: 1;
            transition: opacity .35s $ease-in;
        }
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>LG') {
        display: none;
    }
}