/* ==========================================================================
    Navigation
========================================================================== */

.c-navigation {
    --navigation-link-color: var(--white);
    --navigation-padding: 15px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: var(--navigation-padding) 0;
    mix-blend-mode: difference;
    transition: transform .35s, right 0s $ease-in;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        position: relative;
        line-height: 0;
        padding-right: 15px;

        a {
            display: block;
            width: 48px;

            svg {
                max-width: 40px;

                fill: var(--gray-200);
                path {
                    fill: var(--black);
                }
            }
        }
    }

    /* states */
    &.is-hidden {
        transform: translate3d(0, -100%, 0);
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    /* mobile */
    @include mediaq('<LG') {

        &__nav {
            display: none;
        }

        /* states */
        &.is-open {
        }
    }

    /* desktop */
    @include mediaq('>LG') {
        --navigation-padding: 25px;
        --navigation-link-color: var(--body-text-color);

        &__nav {
            &__primary {
                &--list {
                    ul {
                        display: flex;
                        align-items: center;
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        font-family: var(--font-primary);

                        li {
                            padding: 0;
                            margin: 0;

                            &:not(:last-child) {
                                margin-right: 35px;
                            }

                            span {
                                display: block;
                                a {
                                    display: inline-block;
                                    @include font-size(18px);
                                    font-weight: var(--font-medium);
                                    color: var(--navigation-link-color);
                                    text-transform: uppercase;

                                    // &:hover, &:active, &:focus {
                                    //     --navigation-link-color: var(--white);
                                    // }

                                    &.is-current-page {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Toggler
========================================================================== */

.m-toggler {
    position: relative;
    width: 48px;
    height: 48px;
    order: 3;
    color: var(--gray-200);

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>LG') {
        display: none;
    }
}