/* ==========================================================================
    Navigation
========================================================================== */

.c-navigation {
    --navigation-padding: 15px;
    --navigation-link-size: 20px;
    --navigation-link-color: var(--white);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: var(--navigation-padding) 0;
    mix-blend-mode: difference;
    transition: transform .35s, right 0s $ease-in;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        padding-right: 15px;

        a {
            display: inline-block;
            font-size: var(--navigation-link-size);
            font-weight: var(--font-medium);
            line-height: 1.15;
            color: var(--navigation-link-color);
        }
    }

    /* states */
    &.is-hidden {
        transform: translate3d(0, -100%, 0);
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    /* mobile */
    @include mediaq('<MD') {
        &__nav {
            display: none;
        }
    }

    /* desktop */
    @include mediaq('>MD') {
        --navigation-padding: 25px;

        &__nav {
            &__primary {
                &--list {
                    ul {
                        display: flex;
                        align-items: center;
                        padding: 0;
                        margin: 0;
                        list-style: none;

                        li {
                            padding: 0;
                            margin: 0;

                            &:not(:last-child) {
                                margin-right: 35px;
                            }

                            span {
                                display: block;
                                a {
                                    display: inline-block;
                                    font-size: var(--navigation-link-size);
                                    font-weight: var(--font-medium);
                                    line-height: 1.15;
                                    color: var(--navigation-link-color);

                                    // &:hover, &:active, &:focus {
                                    //     --navigation-link-color: var(--white);
                                    // }

                                    &.is-current-page {
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include mediaq('>LG') {
        --navigation-link-size: 22px;
    }
}

/* Toggler
========================================================================== */

.m-toggler {
    width: 48px;
    height: 48px;
    color: var(--gray-200);

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        display: none;
    }
}