/* ==========================================================================
    Personal Interests
========================================================================== */

.c-personalInterests {
    &__index {
        grid-column: 1 / 1;

        span {
            display: block;
        }
    }

    &__title {
        grid-column: 3 / -1;
    }

    &__hobbies {
        grid-column: 1 / 1;
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        &__title {
            grid-column: 4 / 7;
        }
    }
}