/* ==========================================================================
    Project
========================================================================== */

.c-project {
    --description-margin-t: 30px;
    --description-margin-b: 30px;
    --btn-margin-b: 30px;
    --btn-row-gap: 15px;
    --btn-column-gap: 25px;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: 0 var(--grid-gap-columns);

    &__details {
        grid-column: 1 / -1;

        &--description {
            margin: var(--description-margin-t) 0 var(--description-margin-b);
        }

        &--btn {
            display: flex;
            flex-wrap: wrap;
            row-gap: var(--btn-row-gap);
            column-gap: var(--btn-column-gap);
            margin-bottom: var(--btn-margin-b);
        }
    }

    &__media {
        grid-column: 1 / -1;
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>LG') {
        --description-margin-t: 45px;
        --btn-margin-b: 0;

        &__details {
            grid-column: 1 / 7;

            &--description {
                padding-right: 8vw;
            }
        }

        &__media {
            grid-column: 7 / -1;
        }
    }

    @include mediaq('>XLG') {
        --description-margin-t: 60px;
    }

    @include mediaq('>XXLG') {
        --description-margin-t: 70px;
    }
}