/* ==========================================================================
    Projects List
========================================================================== */

.c-projectsList {
    --item-margin-b: 70px;

    &__item {
        &:not(:last-child) {
            margin-bottom: var(--item-margin-b);
        }
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>XXLG') {
        --item-margin-b: 80px;
    }
}