/* ==========================================================================
    Project
========================================================================== */

.c-project {
    --description-margin-t: 30px;
    --description-margin-b: 30px;
    --overlay-span-size: 120px;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    gap: 0 var(--grid-gap-columns);

    &__details {
        grid-column: 1 / -1;

        &--description {
            margin: var(--description-margin-t) 0 var(--description-margin-b);
        }
    }

    &__media {
        grid-column: 1 / -1;

        &__img {
            $parent: &;
            display: inline-block;
            position: relative;

            &--overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                pointer-events: none;
                transform: translate3d(-50%, -50%, 0);

                span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: var(--overlay-span-size);
                    height: var(--overlay-span-size);
                    padding: 15px;
                    background: var(--white);
                    text-align: center;
                    line-height: 1;
                    border-radius: 50%;
                }
            }

            @media (hover: hover) and (pointer: fine) {
                &--overlay {
                    opacity: 0;
                    transition: opacity 0.7s $primary-ease;
                }

                &:hover, &:active, &:focus & {
                    #{$parent}--overlay {
                        opacity: 1;
                    }
                }
            }
        }
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>LG') {
        --description-margin-t: 45px;
        --description-margin-b: 0;

        &__details {
            grid-column: 1 / 7;

            &--description {
                padding-right: 8vw;
            }
        }

        &__media {
            grid-column: 7 / -1;
        }
    }

    @include mediaq('>XLG') {
        --description-margin-t: 60px;
    }

    @include mediaq('>XXLG') {
        --description-margin-t: 70px;
        --overlay-span-size: 140px;
    }
}