/* ==========================================================================
    Section Header
========================================================================== */

.c-sectionHeader {
    &__index {
        grid-column: 1 / 1;
    }

    &__title {
        grid-column: 3 / -1;
    }

    // **---------------------------------------------------**
    // MEDIA QUERIES

    @include mediaq('>MD') {
        &__title {
            grid-column: 4 / 7;
        }

    }
}